# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarised.

**Objectives:**
- Create a Jupyter Notebook with markdown and code cells
- List examples of languages, libraries and tools used in Data Science
- Share your Jupyter Notebook publicly on GitHub
- Evaluate notebooks submitted by your peers using the provided rubric
- Demonstrate proficiency in Data Science toolkit knowledge

Some of the programming languages used in Data Science are:
1. Python
2. Java
3. Julia
4. Scala
5. SQL

Some of the commonly used libraries by data scientists include:
1. Tensorflow
2. Pandas
3. NumPy
4. PyTorch

|Data Science Tools|
-----------------------------
|RStudio|
|Apache Spark|
|Anaconda|

### Below are a few examples of evaluating arithmetic expressions in Python

In [1]:
# This is a simple artihmetic expression to multiply then add integer numbers
(3*4)+5

17

In [5]:
# This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

## Author:
Luis Fernando Curi Quintal